body {
    font-family: Roboto !important;
    margin: 0px;
}

.bg-gray1 {
    background-color: #868e96;
}

.answerChoicesElement {
    font-size: 1em;
    box-shadow: 0em 0em 0em #ffffff;
    -webkit-transition: background-color .7s, transform .7s, box-shadow .7s ; /* For Safari 3.1 to 6.0 */
    transition: background-color .7s, transform .7s, box-shadow .7s ;
    
}

.answerChoicesElement:hover {
    background-color: #007bff;
    transform: scale(1.01);
    box-shadow: .2em .2em .25em #a6a6a6;
    
}


#titleElementText {
    font-size: 2em;
    font-weight: 700;
}
#timeRemaining {
    white-space: nowrap;
}
#titlejs{
    background-color:#ffff00;
    color: #ffffff;
    width: 2em;
    margin: auto;
}

#timerElementText {
    font-size: 4vw;
    font-weight: 600;
    min-height: 16px;
}


#modalLeaveButton,{
    width: 15rem;
    font-size: 1em;
}

#modalRestartButton {
    width: 15rem;
    font-size: 1em;
}

#modalNextQuestionButton {
    width: 15rem;
    font-size: 1em;
}

#modalPlayButton {
    width: 15rem;
    font-size: 1em;
}

#gameModalTitle {
    font-size: 4vw;
    white-space: nowrap;
}

#jsModal {
    width: 5vw;
    min-width: 30px;
}

#questionElementText {
    font-weight: 700;
}

#titleJS {
    width: 2em;

}

#titleText {
    

}

#textJS {
    width: 2em;
    margin-bottom: 0;
    padding-bottom: 0px;
}

#totalBar {
    height: 25px;
    width: 100%;
    margin: 10px 0px -30px 5px;
}

#correctBar {
    height: 25px;
    margin: 0px 0px 10px 0px;
    min-width: 10 px;
    font-weight: 700px;
}

#incorrectBar {
    height: 25px;
    margin: 0px 0px 10px 0px;
    min-width: 10 px;
    font-weight: 700px;
}

#unansweredBar {
    height: 25px;
    margin: 0px 0px 10px 0px;
    min-width: 10 px;
    font-weight: 700px;
}